.hover-state-origin, .before-p:before, .three-columns .container .item .text p:before, .features .container .item .text p:before, .news .container .item .text p:before, .top-bar-container .container .adr p:before, .top-bar-container .container .tel p:before, .top-bar-container .container .em p:before, nav .container .items .hom p:before, nav .container .items .abt p:before, nav .container .items .proj p:before, nav .container .items .serv p:before, nav .container .items .blg p:before, nav .container .items .cntc p:before, nav .container .items .src p:before, .services .services-items .items-container .item .text p:before, .btn-before:before, .header .container .title-container .btn:before, .btn-before-blue:before, .featured-works .btn-container .btn:before, .contact .btn:before, .contact-prefooter .btn:before {
  animation: hoverStateOrigin .2s forwards; }
@keyframes hoverStateOrigin {
  0% {
    transform: scaleY(1); }
  100% {
    transform: scaleY(0); } }
.hover-state, .btn-before:hover:before, .header .container .title-container .btn:hover:before, .btn-before-blue:hover:before, .featured-works .btn-container .btn:hover:before, .contact .btn:hover:before, .contact-prefooter .btn:hover:before, .three-columns .container .item .text p:hover:before, .features .container .item .text p:hover:before, .news .container .item .text p:hover:before, .top-bar-container .container .adr:hover p:before, .top-bar-container .container .tel:hover p:before, .top-bar-container .container .em:hover p:before, nav .container .items .hom p:hover:before, nav .container .items .abt p:hover:before, nav .container .items .proj p:hover:before, nav .container .items .serv p:hover:before, nav .container .items .blg p:hover:before, nav .container .items .cntc p:hover:before, nav .container .items .src p:hover:before, .services .services-items .items-container .item .text p:hover:before {
  animation: hoverState .2s forwards; }
@keyframes hoverState {
  0% {
    transform: scaleY(0); }
  100% {
    transform: scaleY(1); } }
.pointer, .three-columns .container .item .text p:hover, .features .container .item .text p:hover, .news .container .item .text p:hover, .top-bar-container .container .adr:hover, .top-bar-container .container .tel:hover, .top-bar-container .container .em:hover, nav .container .items .hom p:hover, nav .container .items .abt p:hover, nav .container .items .proj p:hover, nav .container .items .serv p:hover, nav .container .items .blg p:hover, nav .container .items .cntc p:hover, nav .container .items .src p:hover, nav .container .items .hom .hidden-drop-menu .item:hover, nav .container .items .proj .hidden-drop-menu .item:hover, nav .container .items .serv .hidden-drop-menu .item:hover, nav .container .items .blg .hidden-drop-menu .item:hover, nav .container .items .src:hover, .header .container .title-container .btn:hover, .featured-works .btn-container .btn:hover, .services .services-items .items-container .item .text p:hover, .choose .tabs-container .tab .tab-title:hover, .contact .btn:hover, .contact-prefooter .btn:hover, .prefooter .links .links-container .links-1 ul li:hover, .prefooter .links .links-container .links-2 ul li:hover, .prefooter .keep-touch .form .input-btn:hover, .prefooter .keep-touch .social ul li:hover {
  cursor: pointer; }

.before-p:before, .three-columns .container .item .text p:before, .features .container .item .text p:before, .news .container .item .text p:before, .top-bar-container .container .adr p:before, .top-bar-container .container .tel p:before, .top-bar-container .container .em p:before, nav .container .items .hom p:before, nav .container .items .abt p:before, nav .container .items .proj p:before, nav .container .items .serv p:before, nav .container .items .blg p:before, nav .container .items .cntc p:before, nav .container .items .src p:before, .services .services-items .items-container .item .text p:before {
  content: "";
  width: 103%;
  height: 100%;
  background: #ffd626;
  position: absolute;
  transform-origin: bottom;
  z-index: -1; }

.btn-before:before, .header .container .title-container .btn:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #001232;
  top: 0;
  left: 0;
  transform-origin: bottom;
  z-index: 1; }

.btn-temp, .header .container .title-container .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 46px;
  background: #ffd626;
  border: none;
  position: relative; }

.btn-temp-blue, .featured-works .btn-container .btn, .contact .btn, .contact-prefooter .btn {
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 46px;
  background: #001232;
  border: 1px solid #001232;
  border: none;
  position: relative; }

.btn-before-blue, .featured-works .btn-container .btn, .contact .btn, .contact-prefooter .btn {
  border: 1px solid #001232; }
  .btn-before-blue:before, .featured-works .btn-container .btn:before, .contact .btn:before, .contact-prefooter .btn:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ffd626;
    top: 0;
    left: 0;
    transform-origin: bottom;
    z-index: 1; }
    .btn-before-blue:before:hover p, .featured-works .btn-container .btn:before:hover p, .contact .btn:before:hover p, .contact-prefooter .btn:before:hover p {
      color: #000000; }

.subtitle-gen, .two-columns .text .inner-container .subtitle, .about .text .inner-container .subtitle, .choose .text .inner-container .subtitle, .featured-works .text .subtitle, .services .text .subtitle, .news .container .text-container .subtitle {
  font-size: 16px;
  font-weight: 700;
  color: #64728A; }

.title-gen, .two-columns .text .inner-container .title, .about .text .inner-container .title, .choose .text .inner-container .title, .featured-works .text .title, .services .text .title, .news .container .text-container .title {
  font-size: 28px;
  font-weight: 700;
  height: 35px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  border-left: 15px solid #ffd626; }

.desc-lg-gen, .two-columns .text .inner-container .description-big, .about .text .inner-container .description-big, .choose .text .inner-container .description-big {
  font-size: 21px;
  font-weight: 300;
  line-height: 29px;
  color: #64728A; }

.desc-sm-gen, .two-columns .text .inner-container .description-small, .about .text .inner-container .description-small, .choose .text .inner-container .description-small {
  font-size: 16px;
  font-weight: 300;
  line-height: 29px;
  color: #64728A; }

.two-columns, .about, .choose {
  width: 100%;
  height: 500px;
  display: flex;
  background: #F8F8F8;
  margin-top: 70px; }
  .two-columns .image, .about .image, .choose .image, .two-columns .text, .about .text, .choose .text {
    display: flex;
    flex: 1; }
  .two-columns .image, .about .image, .choose .image {
    flex: 1;
    background: url(../../images/about4.jpg);
    background-size: cover;
    background-position: center; }
  .two-columns .text, .about .text, .choose .text {
    padding: 40px 60px 40px 0;
    flex-direction: column;
    align-items: center;
    position: relative; }
    .two-columns .text .inner-container, .about .text .inner-container, .choose .text .inner-container {
      width: 70%;
      position: absolute; }
      .two-columns .text .inner-container .subtitle, .about .text .inner-container .subtitle, .choose .text .inner-container .subtitle, .two-columns .text .inner-container .title, .about .text .inner-container .title, .choose .text .inner-container .title, .two-columns .text .inner-container .description-big, .about .text .inner-container .description-big, .choose .text .inner-container .description-big, .two-columns .text .inner-container .description-small, .about .text .inner-container .description-small, .choose .text .inner-container .description-small {
        margin: 10px 0; }

.three-columns, .features, .news {
  height: auto;
  background: #fff;
  top: 70px;
  position: relative; }
  .three-columns .container, .features .container, .news .container {
    display: flex;
    flex-wrap: wrap; }
    .three-columns .container .item, .features .container .item, .news .container .item {
      margin-top: 100px;
      display: flex;
      flex: 1;
      padding: 40px;
      justify-content: center;
      align-content: center;
      flex-direction: column; }
      .three-columns .container .item .image, .features .container .item .image, .news .container .item .image, .three-columns .container .item .text, .features .container .item .text, .news .container .item .text {
        display: flex;
        flex: 1; }
      .three-columns .container .item .image, .features .container .item .image, .news .container .item .image {
        background: url(../../images/about1.jpg);
        background-size: cover;
        background-position: center;
        height: 300px; }
      .three-columns .container .item .text, .features .container .item .text, .news .container .item .text {
        flex-direction: column;
        padding: 20px 0;
        justify-content: space-around; }
        .three-columns .container .item .text .title, .features .container .item .text .title, .news .container .item .text .title {
          font-size: 20px;
          color: #000044; }
        .three-columns .container .item .text .description, .features .container .item .text .description, .news .container .item .text .description {
          color: #64728A;
          font-size: 16px; }
        .three-columns .container .item .text p, .features .container .item .text p, .news .container .item .text p {
          white-space: nowrap;
          font-size: 16px;
          position: relative;
          z-index: 1;
          width: 40%; }
          .three-columns .container .item .text p:hover, .features .container .item .text p:hover, .news .container .item .text p:hover {
            color: #000000; }
          .three-columns .container .item .text p a, .features .container .item .text p a, .news .container .item .text p a {
            color: #000044; }

html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  margin: 0;
  padding: 0; }

.container {
  width: 85%;
  height: 100%;
  margin: 0 7.5%;
  display: flex; }

a {
  text-decoration: none; }

.showHiddenMenu {
  animation: showHiddenMenu .5s forwards; }
@keyframes showHiddenMenu {
  0% {
    transform: translateX(-20px);
    opacity: 0; }
  100% {
    transform: translateX(0px);
    opacity: 1; } }
.showHiddenMenuR {
  animation: showHiddenMenuR .5s forwards; }
@keyframes showHiddenMenuR {
  0% {
    transform: translateX(0px);
    opacity: 1; }
  100% {
    transform: translateX(-20px);
    opacity: 0; } }
.nav-scrolled {
  position: fixed;
  top: 0;
  width: 100%; }

.showHiddenMenu-mobile {
  animation: showHiddenMenu-mobile .1s forwards; }
@keyframes showHiddenMenu-mobile {
  0% {
    transform: scaleY(0); }
  100% {
    transform: scaleY(1); } }
.showHiddenMenuR-mobile {
  animation: showHiddenMenuR-mobile .01s forwards; }
@keyframes showHiddenMenuR-mobile {
  0% {
    transform: scaleY(1); }
  100% {
    transform: scaleY(0); } }
.top-bar-container {
  position: fixed;
  width: 100%;
  height: 65px;
  background: #001232; }
  .top-bar-container .container {
    color: #ffffff;
    justify-content: flex-end; }
    .top-bar-container .container .adr, .top-bar-container .container .tel, .top-bar-container .container .em {
      display: flex;
      align-items: baseline;
      padding: 0 10px; }
      .top-bar-container .container .adr i, .top-bar-container .container .tel i, .top-bar-container .container .em i {
        padding: 10px 12px;
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid #ffd626;
        border-radius: 50%;
        margin-right: 10px;
        color: #ffd626;
        font-size: 14px;
        transition: all .2s ease; }
      .top-bar-container .container .adr p, .top-bar-container .container .tel p, .top-bar-container .container .em p {
        font-size: 16px;
        font-weight: 300;
        position: relative;
        z-index: 1; }
        .top-bar-container .container .adr p a, .top-bar-container .container .tel p a, .top-bar-container .container .em p a {
          color: #ffffff; }
      .top-bar-container .container .adr:hover i, .top-bar-container .container .tel:hover i, .top-bar-container .container .em:hover i {
        background: #ffd626;
        color: #000000; }
      .top-bar-container .container .adr:hover p, .top-bar-container .container .tel:hover p, .top-bar-container .container .em:hover p {
        color: #000000; }
        .top-bar-container .container .adr:hover p a, .top-bar-container .container .tel:hover p a, .top-bar-container .container .em:hover p a {
          color: #000000; }

nav {
  height: 60px;
  background: #ffffff;
  position: absolute;
  width: 100%;
  top: 65px;
  z-index: 9999; }
  nav .container .menu-mobile {
    display: none; }
  nav .container .logo {
    display: flex;
    align-items: center; }
    nav .container .logo img {
      height: 40px; }
  nav .container .logo, nav .container .items {
    display: flex;
    flex: 1; }
  nav .container .items {
    justify-content: space-around;
    align-items: center;
    color: #000044; }
    nav .container .items .hom, nav .container .items .abt, nav .container .items .proj, nav .container .items .serv, nav .container .items .blg, nav .container .items .cntc, nav .container .items .src {
      display: flex;
      align-items: baseline; }
      nav .container .items .hom p, nav .container .items .abt p, nav .container .items .proj p, nav .container .items .serv p, nav .container .items .blg p, nav .container .items .cntc p, nav .container .items .src p {
        font-weight: 300;
        position: relative;
        z-index: 1;
        padding: 16px 0; }
        nav .container .items .hom p:before, nav .container .items .abt p:before, nav .container .items .proj p:before, nav .container .items .serv p:before, nav .container .items .blg p:before, nav .container .items .cntc p:before, nav .container .items .src p:before {
          height: 45%; }
        nav .container .items .hom p:hover, nav .container .items .abt p:hover, nav .container .items .proj p:hover, nav .container .items .serv p:hover, nav .container .items .blg p:hover, nav .container .items .cntc p:hover, nav .container .items .src p:hover {
          color: #000000; }
          nav .container .items .hom p:hover:before, nav .container .items .abt p:hover:before, nav .container .items .proj p:hover:before, nav .container .items .serv p:hover:before, nav .container .items .blg p:hover:before, nav .container .items .cntc p:hover:before, nav .container .items .src p:hover:before {
            height: 45%; }
          nav .container .items .hom p:hover a, nav .container .items .abt p:hover a, nav .container .items .proj p:hover a, nav .container .items .serv p:hover a, nav .container .items .blg p:hover a, nav .container .items .cntc p:hover a, nav .container .items .src p:hover a {
            color: #000000; }
      nav .container .items .hom i, nav .container .items .abt i, nav .container .items .proj i, nav .container .items .serv i, nav .container .items .blg i, nav .container .items .cntc i, nav .container .items .src i {
        font-size: 10px;
        margin-left: 5px; }
    nav .container .items .hom, nav .container .items .proj, nav .container .items .serv, nav .container .items .blg {
      position: relative; }
      nav .container .items .hom .hidden-drop-menu, nav .container .items .proj .hidden-drop-menu, nav .container .items .serv .hidden-drop-menu, nav .container .items .blg .hidden-drop-menu {
        width: 250px;
        height: auto;
        background: #ffffff;
        position: absolute;
        border: 1px solid #EEEEEE;
        top: 83%;
        opacity: 0; }
        nav .container .items .hom .hidden-drop-menu .item, nav .container .items .proj .hidden-drop-menu .item, nav .container .items .serv .hidden-drop-menu .item, nav .container .items .blg .hidden-drop-menu .item {
          color: #000044;
          border: 1px solid #EEEEEE;
          padding: 10px;
          font-weight: 300;
          transition: all .2s ease; }
          nav .container .items .hom .hidden-drop-menu .item:hover, nav .container .items .proj .hidden-drop-menu .item:hover, nav .container .items .serv .hidden-drop-menu .item:hover, nav .container .items .blg .hidden-drop-menu .item:hover {
            border-left: 4px solid #ffd626; }
    nav .container .items .blg .hidden-drop-menu {
      z-index: 2; }
    nav .container .items .src {
      position: relative;
      padding: 22px 0; }
      nav .container .items .src i {
        font-size: 17px;
        padding: 22px 10px; }
      nav .container .items .src .src-input {
        position: absolute;
        border: 1px solid #EEEEEE;
        top: 77%;
        right: -50%;
        padding: 10px;
        width: 250px;
        height: 70px;
        background: #ffffff;
        display: none; }
        nav .container .items .src .src-input input {
          width: 100%;
          height: 90%;
          border: 1px solid #000044;
          padding: 0 10px;
          font-size: 17px;
          font-family: 'Poppins', sans-serif;
          font-weight: 300;
          color: #64728A; }

.header {
  height: 100vh;
  background: #fff;
  top: 70px;
  position: relative;
  background: url("../../images/background1.jpg");
  background-size: cover;
  background-attachment: fixed; }
  .header:before {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .9;
    background: #ffffff;
    position: absolute;
    z-index: 1; }
  .header .container {
    align-items: center;
    justify-content: center; }
    .header .container .title-container {
      z-index: 999;
      display: flex;
      flex-direction: column;
      width: 80%;
      height: 250px;
      margin: 0 10%;
      justify-content: space-around; }
      .header .container .title-container .title {
        font-size: 35px;
        font-weight: 700;
        color: #000044; }
      .header .container .title-container .description {
        font-size: 21px;
        font-weight: 300;
        color: #64728A; }
      .header .container .title-container .btn {
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        background: #ffd626; }
        .header .container .title-container .btn:hover p {
          color: #ffffff;
          z-index: 2; }

.skills {
  height: auto;
  background: #ffd626;
  padding: 60px 0; }
  .skills .container {
    display: flex; }
    .skills .container .item {
      display: flex;
      flex: 1;
      padding: 5px; }
      .skills .container .item .icon, .skills .container .item .text {
        display: flex;
        flex: 1;
        color: #000044; }
      .skills .container .item .text {
        flex-direction: column;
        flex: 2; }
        .skills .container .item .text .title, .skills .container .item .text .subtitle {
          display: flex;
          flex: 1; }
        .skills .container .item .text .title {
          align-items: flex-end;
          font-size: 28px;
          font-weight: 700; }
      .skills .container .item .icon {
        justify-content: center;
        align-items: center; }
        .skills .container .item .icon i {
          font-size: 35px; }

.featured-works .text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 100px 0; }
.featured-works .featured-items {
  overflow: hidden; }
  .featured-works .featured-items .scroll-parent {
    overflow-x: scroll;
    height: 100%;
    width: 100%;
    display: flex; }
    .featured-works .featured-items .scroll-parent .item {
      display: flex;
      flex: none;
      width: 25%;
      height: 350px; }
    .featured-works .featured-items .scroll-parent .one {
      background: url("../../images/project1.jpg"); }
    .featured-works .featured-items .scroll-parent .two {
      background: url("../../images/project2.jpg"); }
    .featured-works .featured-items .scroll-parent .three {
      background: url("../../images/project3.jpg"); }
    .featured-works .featured-items .scroll-parent .four {
      background: url("../../images/project4.jpg"); }
    .featured-works .featured-items .scroll-parent .one, .featured-works .featured-items .scroll-parent .two, .featured-works .featured-items .scroll-parent .three, .featured-works .featured-items .scroll-parent .four {
      position: relative;
      background-size: cover;
      transition: all .2s ease;
      border-bottom: 5px solid #ffd626; }
      .featured-works .featured-items .scroll-parent .one:hover, .featured-works .featured-items .scroll-parent .two:hover, .featured-works .featured-items .scroll-parent .three:hover, .featured-works .featured-items .scroll-parent .four:hover {
        border-bottom: none;
        background-position: 0px -100px; }
        .featured-works .featured-items .scroll-parent .one:hover .overlay-top, .featured-works .featured-items .scroll-parent .two:hover .overlay-top, .featured-works .featured-items .scroll-parent .three:hover .overlay-top, .featured-works .featured-items .scroll-parent .four:hover .overlay-top {
          opacity: 1; }
        .featured-works .featured-items .scroll-parent .one:hover .overlay-bottom, .featured-works .featured-items .scroll-parent .two:hover .overlay-bottom, .featured-works .featured-items .scroll-parent .three:hover .overlay-bottom, .featured-works .featured-items .scroll-parent .four:hover .overlay-bottom {
          transform: scale(1); }
      .featured-works .featured-items .scroll-parent .one .overlay-top, .featured-works .featured-items .scroll-parent .one .overlay-bottom, .featured-works .featured-items .scroll-parent .two .overlay-top, .featured-works .featured-items .scroll-parent .two .overlay-bottom, .featured-works .featured-items .scroll-parent .three .overlay-top, .featured-works .featured-items .scroll-parent .three .overlay-bottom, .featured-works .featured-items .scroll-parent .four .overlay-top, .featured-works .featured-items .scroll-parent .four .overlay-bottom {
        position: absolute;
        width: 100%;
        transition: all .2s ease; }
      .featured-works .featured-items .scroll-parent .one .overlay-top, .featured-works .featured-items .scroll-parent .two .overlay-top, .featured-works .featured-items .scroll-parent .three .overlay-top, .featured-works .featured-items .scroll-parent .four .overlay-top {
        top: 0;
        background: rgba(0, 18, 50, 0.75);
        height: 100%;
        opacity: 0;
        display: flex;
        align-items: center;
        justify-content: center; }
        .featured-works .featured-items .scroll-parent .one .overlay-top button, .featured-works .featured-items .scroll-parent .two .overlay-top button, .featured-works .featured-items .scroll-parent .three .overlay-top button, .featured-works .featured-items .scroll-parent .four .overlay-top button {
          margin-right: 2px;
          margin-top: -60px;
          width: 60px;
          height: 60px;
          background: #ffd626;
          border: none;
          transition: all .2s ease; }
          .featured-works .featured-items .scroll-parent .one .overlay-top button:hover, .featured-works .featured-items .scroll-parent .two .overlay-top button:hover, .featured-works .featured-items .scroll-parent .three .overlay-top button:hover, .featured-works .featured-items .scroll-parent .four .overlay-top button:hover {
            opacity: .9;
            cursor: pointer; }
      .featured-works .featured-items .scroll-parent .one .overlay-bottom, .featured-works .featured-items .scroll-parent .two .overlay-bottom, .featured-works .featured-items .scroll-parent .three .overlay-bottom, .featured-works .featured-items .scroll-parent .four .overlay-bottom {
        background: #001232;
        bottom: 0;
        left: 0;
        height: 32%;
        border-top: 5px solid #ffd626;
        transform: scaleY(0);
        transform-origin: bottom;
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        justify-content: center;
        padding-left: 30px; }
        .featured-works .featured-items .scroll-parent .one .overlay-bottom .proj-title, .featured-works .featured-items .scroll-parent .two .overlay-bottom .proj-title, .featured-works .featured-items .scroll-parent .three .overlay-bottom .proj-title, .featured-works .featured-items .scroll-parent .four .overlay-bottom .proj-title {
          font-size: 20px;
          font-weight: 500;
          color: #ffffff; }
        .featured-works .featured-items .scroll-parent .one .overlay-bottom .proj-categ, .featured-works .featured-items .scroll-parent .two .overlay-bottom .proj-categ, .featured-works .featured-items .scroll-parent .three .overlay-bottom .proj-categ, .featured-works .featured-items .scroll-parent .four .overlay-bottom .proj-categ {
          font-size: 16px;
          color: #ffd626; }
.featured-works .btn-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px; }
  .featured-works .btn-container .btn:hover p {
    color: #000000;
    z-index: 2; }

.services .text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 100px; }
.services .services-items {
  width: 100%;
  height: auto; }
  .services .services-items .items-container {
    width: 80%;
    margin: 0 10%;
    display: flex;
    flex-wrap: wrap; }
    .services .services-items .items-container .item {
      display: flex;
      width: 360px;
      height: auto;
      margin: 3px; }
      .services .services-items .items-container .item:hover {
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2); }
      .services .services-items .items-container .item .icon, .services .services-items .items-container .item .text {
        display: flex;
        flex: 1;
        height: 100%; }
      .services .services-items .items-container .item .icon {
        align-items: flex-start;
        justify-content: center;
        padding-top: 26px; }
        .services .services-items .items-container .item .icon i {
          font-size: 50px;
          color: #ffd626; }
      .services .services-items .items-container .item .text {
        flex-direction: column;
        align-items: flex-start;
        flex: 3; }
        .services .services-items .items-container .item .text .title-serv {
          font-size: 20px;
          color: #000044; }
        .services .services-items .items-container .item .text .description {
          color: #64728A;
          font-size: 16px; }
        .services .services-items .items-container .item .text p {
          white-space: nowrap;
          font-size: 16px;
          position: relative;
          z-index: 1; }
          .services .services-items .items-container .item .text p:hover {
            color: #000000; }
          .services .services-items .items-container .item .text p a {
            color: #000044; }

.choose {
  height: 600px; }
  .choose .image {
    background: url(../../images/choose.jpg);
    background-position: right; }
  .choose .tabs-container {
    width: 100%;
    display: flex;
    flex-direction: column; }
    .choose .tabs-container .tab {
      display: flex;
      flex-direction: column; }
      .choose .tabs-container .tab .tab-title {
        display: flex;
        justify-content: space-between;
        height: 37px;
        align-items: center;
        padding: 0 10px 0; }
        .choose .tabs-container .tab .tab-title .title-t {
          font-size: 16px;
          font-weight: 400;
          color: #000044; }
      .choose .tabs-container .tab .desc-container {
        transform-origin: top; }
        .choose .tabs-container .tab .desc-container .tab-description {
          display: flex; }
          .choose .tabs-container .tab .desc-container .tab-description p {
            font-size: 16px;
            color: #64728A;
            font-weight: 300;
            padding: 0 20px; }

.hide {
  animation: hide .1s forwards; }

@keyframes hide {
  0% {
    transform: scaleY(0); }
  100% {
    transform: scaleY(1); } }
.hideR {
  animation: hideR .1s forwards; }

@keyframes hideR {
  0% {
    transform: scaleY(1); }
  100% {
    transform: scaleY(0); } }
.show {
  animation: show .1s forwards; }

@keyframes show {
  0% {
    transform: scaleY(0); }
  100% {
    transform: scaleY(1); } }
.showR {
  animation: showR .1s forwards; }

@keyframes showR {
  0% {
    transform: scaleY(1); }
  100% {
    transform: scaleY(0); } }
.moveDown {
  transform: translateY(15%); }

.moveDownThree {
  transform: translateY(25%); }

.moveUp {
  transform: translateY(-45%); }

.moveThreeUp {
  transform: translateY(-90%); }

.yellow {
  background: #ffd626; }

.white {
  background: #ffffff;
  border: 1px solid #64728A; }

.hiddenIcon {
  display: none !important; }

.contact {
  height: auto;
  background: #ffd626;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 60px 50px; }
  .contact .description-large, .contact .description-small {
    color: #000044;
    font-weight: 700; }
  .contact .description-large {
    font-size: 28px; }
  .contact .description-small {
    font-size: 16px;
    margin-top: 20px; }
  .contact .btn {
    margin-top: 30px; }
    .contact .btn:hover p {
      color: #000000;
      z-index: 2; }

.news .container {
  flex-direction: column; }
  .news .container .item-container {
    display: flex; }
    .news .container .item-container .item {
      margin-top: 60px; }
      .news .container .item-container .item .image {
        border-bottom: 5px solid #ffd626;
        background: url(../../images/news.jpg);
        background-position: center; }
      .news .container .item-container .item .info {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        color: #64728A;
        font-size: 14px;
        font-weight: 300;
        padding-top: 15px; }
  .news .container .text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }

.contact-prefooter {
  padding: 50px 150px;
  background: #ffd626;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-top: 70px; }
  .contact-prefooter .contact-text {
    font-size: 20px;
    font-weight: 700; }
  .contact-prefooter .btn {
    margin: 30px 100px 0; }
    .contact-prefooter .btn:hover p {
      color: #000000;
      z-index: 2; }

.prefooter {
  background: #001232;
  height: 400px;
  display: flex;
  padding: 0 150px; }
  .prefooter .column {
    display: flex;
    flex: 1;
    justify-content: center;
    color: #64728A;
    font-weight: 300;
    padding: 30px 20px; }
  .prefooter .info {
    display: flex;
    flex-direction: column; }
    .prefooter .info .logo, .prefooter .info .description, .prefooter .info .address {
      display: flex;
      flex-direction: column;
      padding: 20px 0; }
    .prefooter .info .logo {
      flex: none;
      height: 100px; }
      .prefooter .info .logo img {
        max-width: 60%; }
    .prefooter .info .description {
      flex: none;
      height: 120px; }
    .prefooter .info .address {
      justify-content: space-around; }
      .prefooter .info .address .map, .prefooter .info .address .phone, .prefooter .info .address .mail {
        display: flex; }
    .prefooter .info i {
      color: #ffd626;
      margin-right: 10px; }
  .prefooter .links {
    display: flex;
    flex-direction: column; }
    .prefooter .links .title, .prefooter .links .links-container {
      display: flex;
      flex: 1;
      padding: 20px 0; }
    .prefooter .links .title {
      flex: none;
      height: 100px;
      padding: 20px 0;
      align-items: center; }
      .prefooter .links .title .title-text {
        font-size: 20px;
        font-weight: 700;
        color: #ffffff;
        border-left: 9px solid #ffd626;
        height: 30px;
        padding-left: 5px; }
    .prefooter .links .links-container {
      flex: 2;
      padding: 0; }
      .prefooter .links .links-container .links-1, .prefooter .links .links-container .links-2 {
        display: flex;
        flex: 1; }
      .prefooter .links .links-container .links-1 ul, .prefooter .links .links-container .links-2 ul {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        list-style-type: none;
        padding: 0; }
        .prefooter .links .links-container .links-1 ul li, .prefooter .links .links-container .links-2 ul li {
          font-size: 14px;
          transition: all .2s ease; }
          .prefooter .links .links-container .links-1 ul li:hover, .prefooter .links .links-container .links-2 ul li:hover {
            color: #ffffff;
            padding-left: 5px; }
  .prefooter .keep-touch {
    display: flex;
    flex-direction: column; }
    .prefooter .keep-touch .title, .prefooter .keep-touch .description, .prefooter .keep-touch .form, .prefooter .keep-touch .social {
      display: flex;
      flex: 1;
      padding: 20px 0; }
    .prefooter .keep-touch .title {
      flex: none;
      height: 100px;
      padding: 20px 0;
      align-items: center; }
      .prefooter .keep-touch .title .title-text {
        font-size: 20px;
        font-weight: 700;
        color: #ffffff;
        border-left: 9px solid #ffd626;
        height: 30px;
        padding-left: 5px; }
    .prefooter .keep-touch .description {
      flex: none;
      height: 120px; }
    .prefooter .keep-touch .form {
      align-items: center;
      justify-content: center; }
      .prefooter .keep-touch .form .input-text {
        width: 90%;
        height: 40px;
        background: none;
        border: 1px solid #64728A;
        padding: 10px;
        color: #ffffff;
        padding: 0 100px 0 7px;
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        font-weight: 300; }
      .prefooter .keep-touch .form .input-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: -95px;
        border: none;
        height: 30px;
        width: 90px;
        background: #ffd626;
        padding: 0 20px;
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        font-weight: 400; }
    .prefooter .keep-touch .social {
      align-items: center; }
      .prefooter .keep-touch .social ul {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        padding: 0;
        margin-left: 24px;
        width: 60%; }
        .prefooter .keep-touch .social ul li {
          display: flex;
          align-items: center;
          justify-content: center;
          border: 2px solid #ffd626;
          width: 35px;
          height: 35px;
          border-radius: 50%;
          transition: all .2s ease; }
          .prefooter .keep-touch .social ul li i {
            color: #ffd626; }
          .prefooter .keep-touch .social ul li:hover {
            background: #ffd626; }
            .prefooter .keep-touch .social ul li:hover i {
              color: #000000; }

@media screen and (min-width: 320px) and (max-width: 990px) {
  .container {
    margin-left: 2%; }

  .top-bar-container {
    z-index: 1;
    height: 180px;
    padding: 10px 0; }
    .top-bar-container .container {
      flex-direction: column; }
      .top-bar-container .container .adr, .top-bar-container .container .tel, .top-bar-container .container .em {
        padding: 0; }

  nav {
    top: 180px;
    height: 50px;
    position: relative; }
    nav .container .items {
      display: none; }
    nav .container .menu-mobile {
      display: block;
      width: 100px;
      height: 100%;
      position: absolute;
      right: 0; }
      nav .container .menu-mobile .item-container {
        display: flex;
        height: 100%;
        align-items: center; }
        nav .container .menu-mobile .item-container .search, nav .container .menu-mobile .item-container .burger {
          display: flex;
          flex: 1;
          height: 100%;
          border: 1px solid #EEEEEE; }
          nav .container .menu-mobile .item-container .search:hover, nav .container .menu-mobile .item-container .burger:hover {
            cursor: pointer; }
        nav .container .menu-mobile .item-container .search {
          justify-content: center;
          align-items: center;
          height: 100%;
          position: relative; }
          nav .container .menu-mobile .item-container .search i {
            font-size: 20px; }
          nav .container .menu-mobile .item-container .search .hidden-search {
            width: 100vw;
            height: 70px;
            background: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: absolute;
            right: -51px;
            top: 49px;
            transform-origin: top;
            border-top: 1px solid #eee;
            transform: scale(0); }
            nav .container .menu-mobile .item-container .search .hidden-search input {
              position: absolute;
              width: 92%;
              height: 55%;
              padding: 0 15px; }
              nav .container .menu-mobile .item-container .search .hidden-search input::placeholder {
                color: #6d6d6d;
                font-family: 'Poppins', sans-serif;
                font-size: 16px; }
        nav .container .menu-mobile .item-container .burger {
          display: flex;
          height: 100%;
          align-items: center;
          position: relative; }
          nav .container .menu-mobile .item-container .burger .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            height: 60%; }
            nav .container .menu-mobile .item-container .burger .container .span {
              display: flex;
              width: 62%;
              height: 4px;
              background: #001232; }
          nav .container .menu-mobile .item-container .burger .hidden-menu-burger {
            width: 100vw;
            height: auto;
            background: #fff;
            display: flex;
            flex-direction: column;
            position: absolute;
            right: 0px;
            top: 49px;
            transform-origin: top;
            transform: scale(0); }
            nav .container .menu-mobile .item-container .burger .hidden-menu-burger .hom, nav .container .menu-mobile .item-container .burger .hidden-menu-burger .abt, nav .container .menu-mobile .item-container .burger .hidden-menu-burger .proj, nav .container .menu-mobile .item-container .burger .hidden-menu-burger .serv, nav .container .menu-mobile .item-container .burger .hidden-menu-burger .blg, nav .container .menu-mobile .item-container .burger .hidden-menu-burger .cntc, nav .container .menu-mobile .item-container .burger .hidden-menu-burger .src {
              border: 1px solid #eee;
              width: 100%;
              padding: 0 20px;
              display: flex;
              align-items: center;
              position: relative;
              font-weight: 300; }
              nav .container .menu-mobile .item-container .burger .hidden-menu-burger .hom i, nav .container .menu-mobile .item-container .burger .hidden-menu-burger .abt i, nav .container .menu-mobile .item-container .burger .hidden-menu-burger .proj i, nav .container .menu-mobile .item-container .burger .hidden-menu-burger .serv i, nav .container .menu-mobile .item-container .burger .hidden-menu-burger .blg i, nav .container .menu-mobile .item-container .burger .hidden-menu-burger .cntc i, nav .container .menu-mobile .item-container .burger .hidden-menu-burger .src i {
                position: absolute;
                right: 20px;
                font-size: 10px; }
            nav .container .menu-mobile .item-container .burger .hidden-menu-burger .hom .hidden-drop-menu {
              top: 138%; }
            nav .container .menu-mobile .item-container .burger .hidden-menu-burger .proj .hidden-drop-menu {
              top: 102%; }
            nav .container .menu-mobile .item-container .burger .hidden-menu-burger .serv .hidden-drop-menu {
              top: 262%; }
            nav .container .menu-mobile .item-container .burger .hidden-menu-burger .blg .hidden-drop-menu {
              top: 102%; }

  .header {
    top: 190px;
    padding-bottom: 150px; }
    .header .btn {
      margin-top: 20px; }

  .move-one {
    animation: move-one .1s forwards; }

  @keyframes move-one {
    0% {
      transform: rotate(0deg) translate(0px, 0px); }
    100% {
      transform: rotate(37deg) translate(8px, 8px); } }
  .move-one-r {
    animation: move-one-r .1s forwards; }

  @keyframes move-one-r {
    0% {
      transform: rotate(37deg) translate(8px, 8px); }
    100% {
      transform: rotate(0deg) translate(0px, 0px); } }
  .move-two {
    animation: move-two .1s forwards; }

  @keyframes move-two {
    0% {
      transform: scale(1); }
    100% {
      transform: scale(0); } }
  .move-two-r {
    animation: move-two-r .1s forwards; }

  @keyframes move-two-r {
    0% {
      transform: scale(0); }
    100% {
      transform: scale(1); } }
  .move-three {
    animation: move-three .1s forwards; }

  @keyframes move-three {
    0% {
      transform: rotate(0deg) translate(0px, 0px); }
    100% {
      transform: rotate(-40deg) translate(6px, -6px); } }
  .move-three-r {
    animation: move-three-r .1s forwards; }

  @keyframes move-three-r {
    0% {
      transform: rotate(-40deg) translate(6px, -6px); }
    100% {
      transform: rotate(0deg) translate(0px, 0px); } }
  .show-burger-hidden {
    animation: show-burger-hidden .1s forwards; }

  @keyframes show-burger-hidden {
    0% {
      transform: scaleY(0); }
    100% {
      transform: scaleY(1); } }
  .burger-hidden {
    animation: burger-hidden .1s forwards; }

  @keyframes burger-hidden {
    0% {
      transform: scaleY(1); }
    100% {
      transform: scaleY(0); } }
  .show-search {
    animation: show-search .1s forwards; }

  @keyframes show-search {
    0% {
      transform: scaleY(0); }
    100% {
      transform: scaleY(1); } }
  .move-home {
    margin-top: 141px; }

  .move-proj {
    margin-top: 100px; }

  .move-serv {
    margin-top: 284px; }

  .move-blg {
    margin-top: 101px; }

  .hide-plus {
    opacity: 0; }

  .mobile-dropdown-menu, nav .container .menu-mobile .item-container .burger .hidden-menu-burger .hom, nav .container .menu-mobile .item-container .burger .hidden-menu-burger .proj, nav .container .menu-mobile .item-container .burger .hidden-menu-burger .serv, nav .container .menu-mobile .item-container .burger .hidden-menu-burger .blg {
    position: relative; }
    .mobile-dropdown-menu .hidden-drop-menu, nav .container .menu-mobile .item-container .burger .hidden-menu-burger .hom .hidden-drop-menu, nav .container .menu-mobile .item-container .burger .hidden-menu-burger .proj .hidden-drop-menu, nav .container .menu-mobile .item-container .burger .hidden-menu-burger .serv .hidden-drop-menu, nav .container .menu-mobile .item-container .burger .hidden-menu-burger .blg .hidden-drop-menu {
      background: #fff;
      position: absolute;
      height: 100px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      transform-origin: top; }
      .mobile-dropdown-menu .hidden-drop-menu .item, nav .container .menu-mobile .item-container .burger .hidden-menu-burger .hom .hidden-drop-menu .item, nav .container .menu-mobile .item-container .burger .hidden-menu-burger .proj .hidden-drop-menu .item, nav .container .menu-mobile .item-container .burger .hidden-menu-burger .serv .hidden-drop-menu .item, nav .container .menu-mobile .item-container .burger .hidden-menu-burger .blg .hidden-drop-menu .item {
        border: 1px solid #EEEEEE;
        width: 95%;
        padding: 10px; }

  .header {
    top: 180px; }
    .header .container {
      z-index: 2; }

  .features, .news {
    display: flex;
    justify-content: center;
    z-index: 2; }
    .features .container, .news .container {
      margin: 0;
      height: auto;
      flex-wrap: wrap;
      flex-direction: column; }
      .features .container .item, .news .container .item {
        margin-top: 30px; }
        .features .container .item .image, .news .container .item .image {
          display: block; }

  .news .container .item-container {
    flex-direction: column; }

  .about, .choose {
    position: relative;
    background: url(../../images/about4.jpg);
    background-size: cover;
    background-position: top center; }
    .about .text, .choose .text {
      background: rgba(255, 255, 255, 0.8);
      padding: 50px 130px;
      z-index: 2;
      margin: 0; }
    .about .image, .choose .image {
      display: none; }

  .choose {
    background: url(../../images/choose.jpg); } }
@media screen and (min-width: 768px) and (max-width: 900px) {
  .container {
    width: 90%;
    margin: 0 5%; } }
@media screen and (min-width: 991px) and (max-width: 1300px) {
  .about .image {
    display: block;
    flex: 1;
    background: url(../../images/about4.jpg);
    background-size: cover; }
    .about .image img {
      display: none; }
  .about .text {
    margin-left: 40px; } }
@media screen and (min-width: 320px) and (max-width: 549px) {
  .skills {
    padding: 20px; }
    .skills .container {
      flex-wrap: wrap;
      width: 100%; }
      .skills .container .item {
        min-width: 100%; } }
@media screen and (min-width: 550px) and (max-width: 767px) {
  .skills {
    padding: 20px; }
    .skills .container {
      flex-wrap: wrap;
      width: 100%; }
      .skills .container .item {
        min-width: 50%; } }
@media screen and (min-width: 320px) and (max-width: 767px) {
  .featured-works .featured-items .scroll-parent .item {
    width: 50%;
    flex: none; } }
@media screen and (min-width: 901px) {
  .services .items-container .item {
    flex: 1 0 30%; } }
@media screen and (min-width: 551px) and (max-width: 900px) {
  .services .items-container .item {
    flex: 1 0 40%; } }
@media screen and (min-width: 320px) and (max-width: 550px) {
  .services .items-container .item {
    flex: 1 0 100%; } }
@media screen and (min-width: 320px) and (max-width: 634px) {
  .about, .choose {
    height: 650px; }

  .choose {
    height: 900px; } }
@media screen and (min-width: 320px) and (max-width: 1289px) {
  .contact-prefooter {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 40px; }
    .contact-prefooter .btn {
      margin: 30px 0 0 0; } }

/*# sourceMappingURL=style.css.map */
