$text-primary: #ff5733;
$text-light: #fff;
$text-dark: #000;

$gradient: linear-gradient(90deg, #CA0438 0, #CA0438 3%, #FF5733 100%);
$gray: #3F4046;
$dark-gray: #383b4f;

$main: #232531;

$sm-width: 576px;
$md-width:  768px;
$lg-width: 992px;
$xl-width: 1200px;