
//************************** EXTEND START **************************//
  //item after hover
  .hover-state-origin {
    animation: hoverStateOrigin .2s forwards;

    @keyframes hoverStateOrigin {
        0% {transform: scaleY(1);}
        100% {transform: scaleY(0)}
    }
}

//item:hover
.hover-state {
    animation: hoverState .2s forwards;

    @keyframes hoverState {
        0% {transform: scaleY(0)}
        100% {transform: scaleY(1);}
    }
}

//item:hover - pointer
.pointer {cursor: pointer;}

//p:before
.before-p {
  &:before {
      content: "";
      width: 103%; height: 100%;
      background: $generalYellow;
      position: absolute;
      transform-origin: bottom;
      z-index: -1;
      
      @extend .hover-state-origin;
  }
}


//btn hover // BLUE ON HOVER
.btn-before {
  &:before {
      content: "";
      position: absolute;
      width: 100%; height: 100%;
      background: $buttonColor;
      top: 0; left: 0;
      transform-origin: bottom;
      z-index: 1;

      @extend .hover-state-origin;

      &:hover { @extend .hover-state; }
  }
}

//button template // YELLOW BY DEFAULT
.btn-temp {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px; height: 46px;
  background: $generalYellow;
  border: none;
  position: relative;
}

//button template // BLUE BY DEFAULT
.btn-temp-blue{
    color: $light;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px; height: 46px;
    background: $buttonColor;
    border: 1px solid $buttonColor;
    border: none;
    position: relative;
  }

  
//btn hover // YELLOW ON HOVER
.btn-before-blue {
    border: 1px solid $buttonColor;
    &:before {
        content: "";
        position: absolute;
        width: 100%; height: 100%;
        background: $generalYellow;
        top: 0; left: 0;
        transform-origin: bottom;
        z-index: 1;

        @extend .hover-state-origin;
  
        &:hover { 
            @extend .hover-state; 
            p {
                color: $dark;
            }
        }
    }
  }

//general subtitle {
  .subtitle-gen {
      font: {
          size: 16px;
          weight: 700;
      }
      color: $textColor;
  }

  //general title {
  .title-gen {
      font: {
          size: 28px;
          weight: 700;
      }
      height: 35px;
      display: flex;
      align-items: center;
      padding-left: 10px;
      border-left: 15px solid $generalYellow;
  }

  //general description text . large
  .desc-lg-gen {
      font: {
          size: 21px;
          weight: 300;
      }
      line-height: 29px;
      color: $descLgColor;
  }

  //general description text . small
  .desc-sm-gen {
      font: {
          size: 16px;
          weight: 300;
      }
      line-height: 29px;
      color: $descLgColor;
  }

  //two columns - image + text 
  .two-columns {
    width: 100%; height: 500px;
    display: flex;
    background: $aboutBgColor;
    margin-top: 70px;

    .image, .text { display: flex; flex: 1; }

    .image { 
        flex: 1;
        background: url(../../images/about4.jpg);
        background-size: cover;
        background-position: center;
    }

    .text {
        padding: 40px 60px 40px 0;
        flex-direction: column;
        align-items: center;
        position: relative;

        .inner-container {
            width: 70%;
            position: absolute;

            .subtitle, .title, .description-big, .description-small { margin: 10px 0;}
            .subtitle { @extend .subtitle-gen; }
            .title { @extend .title-gen; }
            .description-big { @extend .desc-lg-gen; }
            .description-small { @extend .desc-sm-gen;}
        }
    }
  }

  //three columns items - features
  .three-columns {
    height: auto;
    background: #fff;
    top: 70px;
    position: relative;
    .container {
        display: flex;
        flex-wrap: wrap;
        .item {
            margin-top: 100px;
            display: flex;
            flex: 1;
            padding: 40px;
            justify-content: center;
            align-content: center;
            flex-direction: column;

            .image, .text {display: flex; flex: 1;}

            .image {
                background: url(../../images/about1.jpg);
                background-size: cover;
                background-position: center;
                height: 300px;
            }
            .text {
                flex-direction: column;
                padding: 20px 0;
                justify-content: space-around;

                .title {
                    font-size: 20px;
                    color: $titleColor;
                }

                .description {
                    color: $textColor;
                    font-size: 16px;
                }

                p {
                    white-space: nowrap;
                    font-size: 16px;
                    position: relative;
                    z-index: 1;
                    width: 40%;
                   
                    @extend .before-p;

                    &:hover {
                        color: $dark;

                        @extend .pointer;
        
                        &:before { 
                            @extend .hover-state; 
                        }
                    }

                    a {color: $titleColor;}
                }
            }
        }
    }
  }

  
  //************************** /EXTEND **************************//