/************************** BASIC **************************/
html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    margin: 0; padding: 0;
  }
  
/************************** /BASIC **************************/

/************************** GENERAL **************************/
  .container {
      width: 85%; height: 100%;
      margin: 0 7.5%;
      display: flex;
  }

  a {text-decoration: none;}

  .showHiddenMenu {
    animation: showHiddenMenu .5s forwards;

    @keyframes showHiddenMenu {
        0% {transform: translateX(-20px); opacity: 0;}
        100% {transform: translateX(0px); opacity: 1;}
    }
  }

  .showHiddenMenuR{
    animation: showHiddenMenuR .5s forwards;

    @keyframes showHiddenMenuR {
        0% {transform: translateX(0px); opacity: 1;}
        100% {transform: translateX(-20px); opacity: 0;}
    }
  }

  .nav-scrolled {
    position: fixed;
    top: 0;
    width: 100%;
  }

  .showHiddenMenu-mobile {
    animation: showHiddenMenu-mobile .1s forwards;

    @keyframes showHiddenMenu-mobile {
        0% {transform: scaleY(0);}
        100% {transform:  scaleY(1);}
    }
  }

  .showHiddenMenuR-mobile {
    animation: showHiddenMenuR-mobile .01s forwards;

    @keyframes showHiddenMenuR-mobile {
        0% {transform:  scaleY(1);}
        100% {transform:  scaleY(0);}
    }
  }
/************************** /GENERAL **************************/

/************************** TOP BAR **************************/
  .top-bar-container {
      position: fixed;
      width: 100%; height: 65px;
    //   border: 1px dotted red; //temp
      background: $topBarBgColor;

      .container {
        color: $light;
        justify-content: flex-end;

        .adr, .tel, .em {
            display: flex;
            align-items: center;
            padding: 0 10px;

            i {
                padding: 10px 12px;
                width: 35px; height: 35px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 2px solid $generalYellow;
                border-radius: 50%;
                margin-right: 10px;
                color: $generalYellow;
                font-size: 16px;
                transition: all .2s ease;
            }

            p {
                font-size: 16px;
                font-weight: 300;
                position: relative;
                z-index: 1;
               
                a {color: $light;}

                @extend .before-p;
            }

            &:hover {
                @extend .pointer;

                i {
                    background: $generalYellow;
                    color: $dark;
                }

                p {
                    color: $dark;
                    
                    &:before { @extend .hover-state; }
                    
                    a {color: $dark;}
                }
            }
        }
      }
  }
/************************** /TOP BAR **************************/

/************************** NAVIGATION **************************/
  nav {
      height: 60px;
      background: $light;
      position: absolute;
      width: 100%;
      top: 65px;
      z-index: 9999;
      box-shadow: 0px 2px 5px rgba(0,0,0,.2);

      .container {

        .menu-mobile {display: none;}

        .logo {
        display: flex;
        align-items: center;
            
            img { height: 40px; }
        }

        .logo, .items {
            display: flex; flex: 1;
        }

        .items {
            justify-content: space-around;
            align-items: center;
            color: $navColor;

            .hom, .abt, .proj, .serv, .blg, .cntc, .src {
                display: flex;
                align-items: baseline;

                p {
                    font-weight: 300;
                    position: relative;
                    z-index: 1;
                    padding: 16px 0;

                    @extend .before-p;
                   
                    &:before { height: 45%; }

                    &:hover {
                        color: $dark;

                        @extend .pointer;
        
                        &:before { 
                            @extend .hover-state; 
                            height: 45%;
                        }
    
                        a {color: $dark;}
                    }
                }

                i {
                    font-size: 10px;
                    margin-left: 5px;
                }

            }
            
            //with dropdown menu
            .hom, .proj, .serv, .blg {
                position: relative;
                
                .hidden-drop-menu {
                    width: 250px; height: auto;
                    background: $light;
                    position: absolute;
                    border: 1px solid $hiddenMenuBorderColor;
                    top: 83%;
                    opacity: 0;
                    
                    .item {
                        color: $navColor;
                        border: 1px solid $hiddenMenuBorderColor;
                        padding: 10px;
                        font-weight: 300;
                        transition: all .2s ease;
                        
                        &:hover {
                            border-left: 4px solid $generalYellow;
                            @extend .pointer;
                        }
                    }
                }
            }

            .blg {
                .hidden-drop-menu {
                    z-index: 2;
                }
            }
            
            .src { 
                position: relative;
                padding: 22px 0;

                i {
                    font-size: 17px;
                    padding: 22px 10px;
                } 

                &:hover {@extend .pointer;}

                .src-input {
                    position: absolute;
                    border: 1px solid $hiddenMenuBorderColor;
                    top: 77%;
                    right: -50%;
                    padding: 10px;
                    width: 250px; height: 70px;
                    background: $light;
                    display: none;

                    input {
                        width: 100%;
                        height: 90%;
                        border: 1px solid $navColor;
                        padding: 0 10px;

                        font: {
                            size: 17px;
                            family: 'Poppins', sans-serif;
                            weight: 300;
                        }

                        color: $searchColor;
                    }
                }
            }
        }
    }
  }
 /************************* /NAVIGATION **************************/

 /************************** HEADER **************************/
    .header {
        height: 100vh;
        background: #fff;
        top: 70px;
        position: relative;
        background: url("../../images/background1.jpg");
        background-size: cover;
        background-attachment: fixed;
        
        &:before {
            content: "";
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: .9;
            background: $light;
            position: absolute;
            z-index: 1;
        }

        .container {
            align-items: center;
            justify-content: center;
            
            .title-container {
                z-index: 999;
                display: flex;
                flex-direction: column;
                width: 80%; height: 250px;
                margin: 0 10%;
                justify-content: space-around;

                .title {
                    font: {
                        size: 35px;
                        weight: 700;
                    }
                    color: $titleColor;
                }

                .description {
                    font: {
                        size: 21px;
                        weight: 300;
                    }

                    color: $textColor;
                }

                .btn {
                    font: {
                        family: 'Poppins', sans-serif;
                        size: 16px;
                    }

                    background: $generalYellow;

                    @extend .btn-temp;
                    @extend .btn-before;

                    &:hover {
                        p {color: $light; z-index: 2;}
                        @extend .pointer;
                    }
                }
            }
        }
    }
/************************** /HEADER **************************/

/************************** FEATURES **************************/
.features {
    @extend .three-columns; /*extend class .three-columns*/
}
/************************** /FEATURES **************************/

/************************** ABOUT **************************/
.about {
    @extend .two-columns; /*extend class .two-columns*/
}
/************************** /ABOUT **************************/

/************************** SKILLS **************************/
.skills {
    height: auto;
    background: $generalYellow;
    padding: 60px 0;

    .container {
        display: flex;
        

        .item {
            display: flex; flex: 1;
            padding: 5px;

            .icon, .text {
                display: flex; flex: 1;
                color: $iconColor;
            }
            .text {
                flex-direction: column;
                flex: 2; 

                .title, .subtitle {
                    display: flex; flex: 1;
                }

                .title {
                   align-items: flex-end;
                   font-size: 28px;
                   font-weight: 700;
                }
            }

            .icon {
                justify-content: center;
                align-items: center;
                i {
                    font-size: 35px;
                }
            }
        }
    }
}

/************************** /SKILLS **************************/

/************************** FEATURED WORKS **************************/

.featured-works {
    .text {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 100px 0;
        
        .subtitle { @extend .subtitle-gen; }
        .title { @extend .title-gen; }
    }

    .featured-items {
        overflow: hidden;

        .scroll-parent {
            overflow-x: scroll;
            height: 100%;
            width: 100%;
            display: flex;

            .item {
                display: flex;
                flex: none;
                width: 25%;
                height: 350px;
            }
    
            .one {background: url('../../images/project1.jpg');}
            .two {background: url('../../images/project2.jpg');}
            .three {background: url('../../images/project3.jpg');}
            .four {background: url('../../images/project4.jpg');}
    
            .one, .two, .three, .four {
                position: relative;
                background-size: cover;
                transition: all .2s ease;
                border-bottom: 5px solid $generalYellow;
    
                &:hover {
                    border-bottom: none;
                    background-position: 0px -100px;
    
                    .overlay-top { opacity: 1; }
                    .overlay-bottom { transform: scale(1); }
                }
    
                .overlay-top, .overlay-bottom {
                    position: absolute;
                    width: 100%;
                    transition: all .2s ease;
                }
    
                .overlay-top {
                    top: 0;
                    background: $overlayBgColorRGBA;
                    height: 100%;
                    opacity: 0;
    
                    display: flex;
                    align-items: center;
                    justify-content: center;
                        button {       
                            margin-right: 2px;
                            margin-top: -60px;
                            width: 60px; height: 60px;
                            background: $generalYellow;
                            border: none;
                            transition: all .2s ease;
    
                            &:hover {
                                opacity: .9;
                                cursor: pointer;
                            }
                        }
                }
    
                .overlay-bottom {
                    background: $overlayBgColor;
                    bottom: 0;
                    left: 0;
                    height: 32%;
                    border-top: 5px solid $generalYellow;
                    transform: scaleY(0);
                    transform-origin: bottom;
                    display: flex;
                    flex-direction: column;
                    align-content: flex-start;
                    justify-content: center;
    
                    padding-left: 30px;
    
                    .proj-title {
                        font: {
                            size: 20px;
                            weight: 500;
                        }
                        color: $light;
                    }
    
                    .proj-categ {
                        font-size: 16px;
                        color: $generalYellow;
                    }
                }
            }
        }
    }

    .btn-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 200px;
        .btn {
            @extend .btn-temp-blue;
            @extend .btn-before-blue;
    
            &:hover {
                p {color: $dark; z-index: 2;}
                @extend .pointer;
            }
        }
    }
}

/************************** /FEATURED WORKS **************************/

/************************** SERVICES **************************/
.services {
    .text {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 100px;
        
        .subtitle { @extend .subtitle-gen; }
        .title { @extend .title-gen; }
    }

    .services-items {
        width: 100%;
        height: auto;
        
        .items-container{
            width: 80%;
            margin: 0 10%;
            display: flex;
            flex-wrap: wrap;

            .item {
                display: flex;
                width: 360px; height: auto;
                margin: 3px;

                &:hover {
                    box-shadow: 0px 0px 15px rgba(0,0,0,.2);
                }

                .icon, .text {
                    display: flex;
                    flex: 1;
                    height: 100%;
                }

                .icon {
                    align-items: flex-start;
                    justify-content: center;
                    padding-top: 26px;
                    i {
                        font-size: 50px;
                        color: $generalYellow;
                    }
                }
                .text {
                    flex-direction: column;
                    align-items: flex-start;
                    flex: 3;
                    .title-serv {
                        font-size: 20px;
                        color: $titleColor;
                    }
    
                    .description {
                        color: $textColor;
                        font-size: 16px;
                    }
    
                    p {
                        white-space: nowrap;
                        font-size: 16px;
                        position: relative;
                        z-index: 1;
                       
                        @extend .before-p;
    
                        &:hover {
                            color: $dark;
    
                            @extend .pointer;
            
                            &:before { 
                                @extend .hover-state; 
                            }
                        }
    
                        a {color: $titleColor;}
                    }
                }
            }
        }
    }   
}

/************************* /SERVICES **************************/

/************************** CHOOSE **************************/
.choose {
    @extend .two-columns;
    height: 600px;

    .image {
        background: url(../../images/choose.jpg);
        background-position: right;
    }
    .tabs-container {
        width: 100%;
        display: flex;
        flex-direction: column;

        .tab {
            display: flex;
            flex-direction: column;

            .tab-title {
                display: flex;
                justify-content: space-between;
                height: 37px;
                align-items: center;
                padding: 0 10px 0;
                .title-t {
                    font: {
                        size: 16px;
                        weight: 400;
                    }
                    color: $titleColor;
                }

                &:hover {@extend .pointer;}
            }

           .desc-container {
               transform-origin: top;
                .tab-description {
                    display: flex; 

                    p {
                        font-size: 16px;
                        color: $textColor;
                        font-weight: 300;
                        padding: 0 20px;
                    }
                }
           }
        }
    }
}

.hide {
    animation: hide .1s forwards;
}

@keyframes hide {
    0% {transform: scaleY(0);}
    100% {transform: scaleY(1);}
}

.hideR {
    animation: hideR .1s forwards;
}

@keyframes hideR {
    0% {transform: scaleY(1);}
    100% {transform: scaleY(0);}
}

.show {
    animation: show .1s forwards;
}

@keyframes show {
    0% {transform: scaleY(0);}
    100% {transform: scaleY(1);}
}

.showR {
    animation: showR .1s forwards;
}

@keyframes showR {
    0% {transform: scaleY(1);}
    100% {transform: scaleY(0);}
}

.moveDown {transform: translateY(15%);}
.moveDownThree {transform: translateY(25%);}
.moveUp {transform: translateY(-45%);}
.moveThreeUp {transform: translateY(-90%);}


.yellow {background: $generalYellow;}
.white {
    background: $light;
    border: 1px solid $tabBorderColor; 
}

.hiddenIcon {display: none!important;}
/************************** /CHOOSE **************************/

/************************** CONTACT **************************/
.contact {
    height: auto;
    background: $generalYellow;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 60px 50px;

    .description-large, .description-small {
        color: $titleColor;
        font-weight: 700;
    }
    
    .description-large {font-size: 28px;}
    .description-small {
        font-size: 16px;
        margin-top: 20px;
    }

    .btn {
        margin-top: 30px;

        @extend .btn-temp-blue;
        @extend .btn-before-blue;

        &:hover {
            p {color: $dark; z-index: 2;}
            @extend .pointer;
        }
    }
}
/************************** /CONTACT **************************/

/************************** NEWS **************************/
.news {
    @extend .three-columns;

    .container {
        flex-direction: column;

        .item-container {
            display: flex;

            .item {
                margin-top: 60px;

                .image {
                    border-bottom: 5px solid $generalYellow;
                    background: url(../../images/news.jpg);
                    background-position: center;
                }

                .info {
                    border-bottom: 1px solid rgba(0,0,0,.1);
                    color: $textColor;
                    font-size: 14px;
                    font-weight: 300;
                    padding-top: 15px;
                }
            }
        }
        .text-container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            
            .subtitle { @extend .subtitle-gen; }
            .title { @extend .title-gen; }
        }
    }
}
/************************** /NEWS **************************/

/************************** CONTACT PREFOOTER **************************/
.contact-prefooter {
    padding: 50px 150px;
    background: $generalYellow;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-top: 70px;

    .contact-text {
        font-size: 20px;
        font-weight: 700;
    }
    .btn {
        margin:30px 100px 0;

        @extend .btn-temp-blue;
        @extend .btn-before-blue;

        &:hover {
            p {color: $dark; z-index: 2;}
            @extend .pointer;
        }
    }
}

/************************** /CONTACT PREFOOTER **************************/

/************************** PREFOOTER **************************/
.prefooter {
    background: $prefooterBgColor;
    display: flex;
    padding: 0 150px;

    .column{
        display: flex; flex: 1;
        color: $textColor;
        font-weight: 300;
        padding: 30px 20px;
        
    }

    .info {
        display: flex;
        flex-direction: column;

        .logo, .description, .address {
            display: flex; 
            flex-direction: column;
            padding: 20px 0;
        }

        .logo {
            flex: none;
            height: 100px;
            img {max-width: 180px;}
        }
        
        .description {
            flex: none;
            height: 120px;
        }

        .address {
            justify-content: space-around;
            .map, .phone, .mail {
                display: flex;
            }
        }

        i {
            color: $generalYellow;
            margin-right: 10px;
        }
    }

    .links {
        display: flex; 
        flex-direction: column;
        .title, .links-container {
            display: flex; flex: 1;
            padding: 20px 0;
        }

        .title {
            flex: none;
            height: 100px;
            padding: 20px 0;
            align-items: center;

            .title-text {
                font-size: 20px;
                font-weight: 700;
                color: $light;
                border-left: 9px solid $generalYellow;
                height: 30px;
                padding-left: 5px;
            }
        }
        .links-container {
            flex: 2;
            padding: 0;
            .links-1, .links-2 {
                display: flex; flex: 1;
            }

            .links-1, .links-2 {
                ul {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    list-style-type: none;
                    padding: 0;

                    li {
                        font-size: 14px;
                        transition: all .2s ease;

                        &:hover {
                            color: $light;
                            padding-left: 5px;
                            @extend .pointer;
                        }
                    }
                }
            }
        }
    }

    .keep-touch {
        display: flex;
        flex-direction: column;

        .title, .description, .form, .social {
            display: flex; flex: 1;
            padding: 20px 0;
        }

        .title {
            flex: none;
            height: 100px;
            padding: 20px 0;
            align-items: center;

            .title-text {
                font-size: 20px;
                font-weight: 700;
                color: $light;
                border-left: 9px solid $generalYellow;
                height: 30px;
                padding-left: 5px;
            }
        }

        .description {
            flex: none;
            height: 120px;
        }

        .form {
            align-items: center;
            justify-content: center;
            .input-text {
                width: 90%; height: 40px;
                background: none;
                border: 1px solid $borderColor;//dont delete
                padding: 10px;
                color: $light;
                padding: 0 100px 0 7px;
                font: {
                    family: 'Poppins', sans-serif;
                    size: 14px;
                    weight: 300;
                }
            }

            .input-btn {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: -95px;
                border: none; //dont delete
                height: 30px;
                width: 90px;
                background: $generalYellow;
                padding: 0 20px;
                font: {
                    family: 'Poppins', sans-serif;
                    size: 14px;
                    weight: 400;
                }

                &:hover {
                    @extend .pointer;
                }
            }
        }

        .social {
            align-items: center;
            ul {
                list-style-type: none;
                display: flex;
                justify-content: space-between;
                padding: 0;
                margin-left: 24px;
                width: 60%;

                li {
                   display: flex;
                   align-items: center; justify-content: center;
                   border: 2px solid $generalYellow;//dont delete
                   width: 35px; height: 35px;
                   border-radius: 50%;
                   transition: all .2s ease;

                   i {color: $generalYellow;}

                   &:hover {
                       @extend .pointer;
                       background: $generalYellow;

                       i {color: $dark;}
                    }
                }
            }
        }
    }
}
/************************** /PREFOOTER **************************/

/************************** FOOTER **************************/
.footer {
    height: 100px;
    background: $footerBgColor;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;

    .text {
        color: $textColor;
        font-weight: 300;

        .special {
            color: $generalYellow;
        }
    }
}
/************************** /FOOTER **************************/
