//************************** VARIABLES START **************************//
//not for production
$_sunglow: #ffd626;
$_white: #ffffff;
$_black: #000000;
$_mastrichBlue: #001232;
$_mastrichBlueRGBA_75: rgba(0,18,50,.75);
$_lightMastrichBlue: #000044;
$_isabelline: #EEEEEE;
$_darkBlueGrey: #64728A;
$_ghostWhite: #F8F8F8;

//for production
$light: $_white;
$dark: $_black;
$generalYellow: $_sunglow;
$topBarBgColor: $_mastrichBlue;
$hiddenMenuBorderColor: $_isabelline;
$navColor: $_lightMastrichBlue;
$searchColor: $_darkBlueGrey;
$textColor: $_darkBlueGrey;
$titleColor: $_lightMastrichBlue;
$buttonColor: $_mastrichBlue;
$aboutBgColor: $_ghostWhite;
$descLgColor: $_darkBlueGrey;
$iconColor: $_lightMastrichBlue;
$overlayBgColor: $_mastrichBlue;
$overlayBgColorRGBA: $_mastrichBlueRGBA_75;
$tabBorderColor: $_darkBlueGrey;
//************************** VARIABLES END **************************//